---
import Layout from "../layouts/Layout.astro";
---

<Layout title="NxZ | Web and e-commerce solutions">
  <main class="flex flex-col min-h-screen justify-center">
    <h1 class="text-4xl md:text-5xl font-bold text-center tracking-wider">
      Próximamente
    </h1>
    <h1 class="text-5xl md:text-6xl font-bold text-center tracking-wider">
      <span class="dot1">. </span>
      <span class="dot2">. </span>
      <span class="dot3">.</span>
    </h1>
  </main>
  <div id="blob" class="w-96"></div>
</Layout>

<script>
  const blob = document.getElementById("blob");

  document.body.onpointermove = (event) => {
    const { clientX, clientY } = event;

    if (blob) {
      blob.animate(
        {
          left: `${clientX}px`,
          top: `${clientY}px`,
        },
        { duration: 2000, fill: "forwards" }
      );
    }
  };
</script>

<style>
  main {
    backdrop-filter: blur(160px);
  }
  #blob {
    position: fixed;
    left: 50%;
    top: 50%;
    background: linear-gradient(#ff00ff, #00ffff);
    aspect-ratio: 1;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -1;
    animation: rotate 20s infinite;
  }
  .dot1 {
    animation: dot1 4s infinite;
  }
  .dot2 {
    animation: dot2 4s infinite;
  }
  .dot3 {
    animation: dot3 4s infinite;
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    50% {
      scale: 1 1.5;
    }
    to {
      rotate: 360deg;
    }
  }

  @keyframes dot1 {
    0% {
      opacity: 0%;
    }
    25% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes dot2 {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  @keyframes dot3 {
    0% {
      opacity: 0%;
    }
    75% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
</style>
