---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Loading from '../components/Loading.astro';
---

<Layout title="Noé Zavala | Web developer">
  <Header />
  <Aside />
  <main>
    <div id="text-container">
      <Loading> UNDER CONSTRUCTION</Loading>
    </div>
  </main>
  <!-- <Footer /> -->
  <!-- <Blob /> -->

  <style>
    main {
      display: grid;
      place-content: center;
      min-height: 100vh;
      grid-column: 2;
      color: #ffffff;
    }
    #text-container {
      padding-left: 4rem;
    }
    @media (max-width: 1079px) {
      main {
        min-height: 65vh;
        position: relative;
        grid-column: 1;
      }
      #text-container {
        padding: 0;
        text-align: center;
      }
    }
  </style>
</Layout>
