---
import Layout from '../layouts/Layout.astro';
---

<Layout title="NxZavDev">
	<main class="grid items-center min-h-screen place-items-center">
		<h1 class="text-5xl font-bold">Próximamente...</h1>
	</main>
</Layout>