<div id="blob"></div>

<style>
  #blob {
    display: none;
    width: min(80px, 5vw);
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    background: crimson;
    border-radius: 50%;
    z-index: -1;
    mix-blend-mode: exclusion;
  }
  @media (min-width: 768px) {
    #blob {
      display: block;
      animation: rotate 2s infinite linear;
    }
  }
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    25% {
      scale: 1.1 0.9;
      border-radius: 60% 40% 46% 54% / 52% 43% 57% 48%;
    }
    50% {
      scale: 0.9 1.1;
      border-radius: 45% 55% 46% 54% / 67% 43% 57% 33%;
    }
    75% {
      scale: 1.1 0.9;
      border-radius: 48% 52% 55% 45% / 57% 43% 57% 43%;
    }
    to {
      rotate: 360deg;
    }
  }
</style>

<script>
  const blob = document.getElementById('blob');
  window.onmousemove = (e) => {
    const { clientX: x, clientY: y } = e;
    blob &&
      blob.animate(
        {
          left: `${x}px`,
          top: `${y}px`,
        },
        { duration: 100, fill: 'forwards' }
      );
  };
</script>
