---
const year = new Date().getFullYear();
---

<footer>
  <a href="https://github.com/nxzav" target="_blank">
    ~ © {year}&nbsp;&nbsp;<i class="fa-brands fa-github"></i>&nbsp;&nbsp;@nxzav ~
  </a>
</footer>

<style>
  footer {
    height: 36px;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px #ffffff22;
    color: #efefef;
  }
  footer a {
    color: #efefef;
    text-decoration: none;
  }
</style>
