---
import LogoSVG from '../icons/Logo.astro';
---

<header>
  <div id="logo-section">
    <a href="/">
      <LogoSVG />
    </a>
  </div>
  <nav>
    <a href="#">Services</a>
    <a href="#">Products</a>
    <a href="#">Work</a>
  </nav>
</header>

<style>
  header {
    grid-column: 1;
    display: grid;
    grid-template-rows: 144px auto 144px;
    align-content: space-between;
    position: fixed;
    min-height: 100vh;
    top: 0;
    z-index: 1;
  }
  #logo-section {
    padding-top: 2rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  nav a {
    display: block;
    width: fit-content;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    transition: background 100ms;
  }
  nav a:hover {
    background-color: #ffffff22;
  }
  @media (max-width: 1079px) {
    header {
      padding: 1rem 0;
      display: flex;
      min-height: auto;
      position: relative;
      grid-column: 1;
      justify-content: space-between;
    }
    nav {
      flex-direction: row;
      align-items: center;
    }
    #logo-section {
      padding: 0;
    }
  }
</style>
