<h1><slot /></h1>

<style>
  h1 {
    animation: breath 4s infinite linear;
  }
  @keyframes breath {
    from {
      opacity: 1;
    }
    33% {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
</style>
